{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login - Administração SDU</title>
  <link rel="stylesheet" href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.min.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="hold-transition login-page">

<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>SDU</b> Marabá</a>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Acesso à área administrativa</p>

      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          Usuário ou senha inválidos.
        </div>
      {% endif %}

      <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          {{ form.username|add_class:"form-control" }}
          <div class="input-group-append">
            <div class="input-group-text"><span class="fas fa-user"></span></div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.password|add_class:"form-control" }}
          <div class="input-group-append">
            <div class="input-group-text"><span class="fas fa-lock"></span></div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <a href="{% url 'password_reset' %}">Esqueci a senha</a>
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-success btn-block">Entrar</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'adminlte/dist/js/adminlte.min.js' %}"></script>
</body>
</html>
