{% extends 'base_admin.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <h2>Fale Conosco</h2>
  <p class="mb-4">Envie sua mensagem, dúvida ou sugestão:</p>

  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" name="nome" id="nome" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input type="email" name="email" id="email" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="mensagem" class="form-label">Mensagem</label>
      <textarea name="mensagem" id="mensagem" rows="5" class="form-control" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
{% endblock %}
